[2020-01-21 22:20] gzussa opened #21 "Add Pipeline support for tag files in workspace"
Migrating this issue from https://github.com/DataDog/jenkins-datadog-plugin/issues/122

## Description
We currently don't support the tags from workspace file for Pipeline jobs as noted in the readme.

[2020-01-21 22:34] gzussa opened #22 "Add ability to customize build tags from groovy pipelines"
Migrated from https://github.com/DataDog/jenkins-datadog-plugin/issues/115

## Description

I need to change a tag value based on what triggered the build (i.e. what's the build cause). After a lot of tinkering, I'm doing something like this:
[code]
And this sort of works, but isn't really reliable. It causes issues when multiple jobs run concurrently. The [**current** `DatadogJobProperty` value i

[2020-01-21 22:38] gzussa commented on #22
The most relevant PR to look at is https://github.com/DataDog/jenkins-datadog-plugin/pull/164/ (from the old repo).
The second related issue is https://github.com/DataDog/jenkins-datadog-plugin/issues/152

[2020-01-23 17:15] gruebel opened #29 "Service Check missing tags"
**Describe the bug**
Following the issue #191 we installed the version 1.0.1 and now it works again, but there are no tags attached to the service checks. We can only see the `host` tag. The events and metrics have all the tags we added to the global tags. We also tried to add the tags to the global job tags, but no success either.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a job w

[2020-01-23 20:16] gzussa commented on #29
Hi, Thanks @gruebel
Thanks for reporting this. I found the issue and will submit a PR soon.

[2020-01-23 21:43] #29 closed

[2020-01-28 10:21] everops-alex opened #38 "New tag please"
**Describe the bug**
Technically not a new bug -- [Issue #29](https://github.com/jenkinsci/datadog-plugin/issues/29) was fixed by [PR #30](https://github.com/jenkinsci/datadog-plugin/pull/30). We are also blocked by that issue and need a new tag to upgrade our plugin to a new release which contains the fix.

Running Jenkins 2.204.1 w/ Datadog 1.0.1

Thanks 🙏

[2020-01-28 11:04] everops-alex commented on #38
For additional context, this is what we're seeing -- no job data (status, job name, branch, etc):
<img width="1151" alt="Screen Shot 2020-01-28 at 3 03 07 AM" src="https://user-images.githubusercontent.com/29316054/73258538-c11de980-417a-11ea-838e-b6a66066830f.png">

[2020-01-28 17:18] gzussa commented on #38
Hi, I just made a release for this. See https://github.com/jenkinsci/datadog-plugin/releases/tag/datadog-1.0.2

[2020-01-28 17:18] #38 closed

[2020-01-28 20:18] everops-alex commented on #38
This resolved our issue, thanks @gzussa 👍

[2020-01-28 20:20] everops-alex commented on #29
Just backfilling -- this is now available as datadog-plugin 1.0.2 in the Jenkins plugin manager.

https://github.com/jenkinsci/datadog-plugin/issues/38

[2020-01-28 20:20] everops-alex commented on #29
Just backfilling -- this is now available as datadog-plugin 1.0.2 in the Jenkins plugin manager.

https://github.com/jenkinsci/datadog-plugin/issues/38

[2020-01-29 09:29] gruebel commented on #29
Thanks! And I can confirm that is works :)

[2020-02-03 16:35] marmccor opened #42 "Latest plugin version causing exception in system log, when no API token configured"
**Description**
Whenever an API token is not configured for the datadog plugin, the following output is repeatedly output to the Jenkins system log:
[code]
**Regression?**
This looks like a regression in the latest plugin version (either 1.0.2 or 1.0.1). v 1.0.0 does not show this behaviour, and I have been able to confirm and get a repo of this on multiple different Jenkins masters.

**To Reprodu

[2020-02-04 23:17] provcristianmaluenda commented on #22
I just was thinking of a similar requirement. It would be great if we can use env vars in the "Global job tags".
Something like `(.*?)/(.*?)/(.*?),a:$,b:$2,c:$3,team:$TEAM_NAME` 🤔

[2020-02-12 10:18] FnTm commented on #42
I also observed this kind of behaviour, and for us it just meant that data suddenly stopped coming into DataDog, where it was succesfuly being sent to with the previous version of the plugin. So something broke in this version

[2020-02-12 10:25] FnTm opened #43 "Allow using a Jenkins Secret for API key"
_**Note:**
If you have a feature request, you should [contact support](https://docs.datadoghq.com/help/) so the request can be properly tracked._

**Is your feature request related to a problem? Please describe.**
Currently the only way to define a DataDog API Key is by manually inserting it into the config window. This means that using Jenkins Configuration-as-Code would require adding plaintext

[2020-02-12 10:33] FnTm commented on #43
Ahh, I just double checked, and it seems that exporting the secret from the running instance using the JCasC runner does indeed encrypt the key, and allow it to be added to VCS without an issue.
Still would be nice to be able to use a secret here.

[2020-02-19 20:19] stpierre commented on #22
The hack @gzussa describes to set tags dynamically in the original post also no longer works in v1.0.x of the plugin, so even the little ability we had to do this is gone (unless we stick to 0.7.1).

[2020-02-21 16:05] gzussa commented on #42
Fixed in https://github.com/jenkinsci/datadog-plugin/pull/44 and will be part of the next release (1 or 2 weeks from now)

[2020-02-21 16:05] #42 closed

[2020-02-21 16:10] gzussa commented on #43
Thanks for opening this. You can use our plugin with the Datadog Agent as a proxy in order to submit data to your Datadog account. By doing so, you won't have to give API Key to your Jenkins instance at all. Still, I am leaving this issue open for the community to grab. As a side note, we had a similar request on our previous repo. See https://github.com/DataDog/jenkins-datadog-plugin/issues/93

[2020-02-23 10:21] FnTm commented on #43
@gzussa ahh, thanks for that tip! I'd somehow missed that I could use the agent, but now that I'm thinking about it - it makes perfect sense. Thanks!

[2020-03-02 21:18] sodul opened #49 "Security events notifications are very spammy"
We use several tools that end up updating the apiTokenStats.xml and in p

Steps to reproduce the behavior:
1. register a tool that access the jenkins API with a token such as ccmenu and monitor jobs.
2. integrate the jenkins Datadog Plugin with security audit events
3. get an influx of apiTokenStats.xml updates on DataDog: `User anonymous changed file apiTokenStats.xml`

Other notifications are la

[2020-03-03 08:14] marmccor opened #50 "Datadog errors under 'manage old data' - for pipelines not utilising the plugin"
**Describe the bug**
Errors appearing under 'Manage old Data', which look related to the datadog plugin for Jenkins.

Label the issue properly.
I've configured the datadog plugin for Jenkins, and setup a valid API token. I haven't begun utilising the plugin yet in any pipelines.

I noticed Jenkins had flagged some issues with pipelines under 'Manage old Data'. When I click in here, I see a lot of

[2020-03-11 02:21] jeremystewart85 commented on #49
Our event stream has also been getting a ton of these messages. I dug around in documentation that said there were some environment variables to try (DATADOG_JENKINS_PLUGIN_EMIT_SECURITY_EVENTS), and I went into the Jenkins System Config page to add those but found these checkboxes instead under the Advanced button in the Datadog config section:

![image](https://user-images.githubusercontent.com/

[2020-04-06 09:30] gzussa commented on #50
Hi,

Thanks for opening this issue.

We released a major version (1.0.0) that introduced some backward incompatible changes due to configuration changes. See https://github.com/jenkinsci/datadog-plugin/blob/master/CHANGELOG.md#100--01-07-2020. This `emitOnCheckout` field got renamed into `emitSCMEvents`.

See [README](https://github.com/jenkinsci/datadog-plugin#job-customization) and https://githu

[2020-04-06 09:30] #50 closed

[2020-04-06 09:35] gzussa commented on #49
Indeed there is a setting mentioned by @jeremystewart85 to turn this off.

I am switching this from a bug labeled issue to a feature request related issue. If we added more control into this, what events would you like to see by default?

Also, i am opening this open to grasp by the community if someone wants to give a shot at implementing something 😄

[2020-04-06 09:45] gzussa commented on #22
In order to fix this properly, i would love to better understand user scenario (note that i didn't created this issue, i just migrated it from our old repo to this new one).

Would anyone have a clear and simple scenario to share? Ideally something that we could use as a test scenario (groovy pipeline and/or jenkinsFile). The hack mentioned above wasn't very clean and ideally, i would like somethi

[2020-04-06 16:42] provcristianmaluenda opened #54 "Support for Env Vars in the Global job tags,"
It would be great if we can use env vars in the "Global job tags".
Something like `(.*?)/(.*?)/(.*?),a:$,b:$2,c:$3,team:$TEAM_NAME`.

This will be useful to set custom tags when a job is executed.

Thanks.

[2020-04-06 16:42] provcristianmaluenda commented on #22
I created this [feature request](https://github.com/jenkinsci/datadog-plugin/issues/54).

Thanks @gzussa

[2020-04-06 17:09] deiwin commented on #22
For me (author of the original issue) the use case was and still is the following.

We have a shared library that allows executing specific types of builds based on GitHub comments. More specifically it supports deploying a service when a user writes `!deploy` in a PR comment. To gather metrics about deploys we differentiate between regular builds and deploys with a `is_deploy` tag in Datadog. The

[2020-04-06 17:11] deiwin commented on #22
Oh, and the triggering requires https://github.com/jenkinsci/pipeline-github-plugin

[2020-04-07 08:16] marmccor opened #55 "Don't continuously log messages whenever no API token is configured"
**Describe the bug**
Whenever no API token is configured for the datadog plugin, the plugin will continuously write to the jenkins system log, to this affect.

As a result, the jenkins system log is in affect useless as when debugging jenkins issues, the logs have likely already been rotated.

As an example, the plugin has written 17 log lines in 39 seconds:

[code]
FYI, this is not the same issue

[2020-04-07 08:43] gzussa commented on #54
Thanks for opening this issue. Do you want to try to make a PR for this?

[2020-04-07 08:48] gzussa commented on #55
Thanks for opening this issue. I am not sure i understand the use case here.

Are you using the DogStatsD or the Datadog Agent to report data to Datadog? If so it could to be a bug. However, it seems to me that you just installed the plugin and didn't configure it to sent any data. What is the purpose then?
If the token expires or is missing, the plugin should warn you, which it does.
Maybe `sever

[2020-04-07 08:54] marmccor commented on #55
Hi @gzussa, looping in re: above:

That's correct - my concern was that when the plugin has not yet been configured, the logs are being spammed. The same would be true if the API token were to expire. The issue isn't that it writes to the jenkins log, but that it does it so often, meaning that when it does occur, the log is essentially no use for triaging any other issues.

Regardless if the plugi

[2020-04-07 09:27] gzussa commented on #22
Ok, we will have to evaluate what the best approach is here.

[2020-04-07 10:23] gzussa commented on #55
Ok i see your point, I notified the team in charge of the plugin and they will take a look. Feel free to open a support ticket if it needs to be escalated.

[2020-04-08 08:34] dgounaris commented on #55
Thanks, it is indeed a bit annoying

[2020-04-14 11:14] dgounaris opened #56 "Enable build log scanning for custom metrics"
Currently the plugin offers limited, coarse-grained metrics regarding build failures. There is no way to add extra custom metrics, based on the type of errors.

I'd suggest adding a list of pairs of string fields in the plugin configuration, to map log lines with custom metrics. Then, on every build, scan the lines lazily for the configured regex text and increment relevant custom metric counters.

[2020-04-16 09:03] s2oBCN commented on #22
Hi! How is this PR? We need this feature too :)

[2020-04-16 13:56] s2oBCN commented on #22
Well, in fact, we see that this PR  https://github.com/DataDog/jenkins-datadog-plugin/pull/164 seems ok for us
Is this possible to merge?
Thank you!

[2020-04-17 13:51] FlorianVeaux commented on #56
Hey @dgounaris,
I'd agree that the metrics emitted on build success/failure do not carry the 'type' of error but 'type' is very generic and can mean very different things for every job. I'm not sure this is the best approach as it requires finely tuned configuration + it doesn't solve the issue that users need to go through logs to understand what the exact issue is.

If we try to generalize your

[2020-04-21 13:28] FlorianVeaux commented on #22
Hey all here, I spent some time playing around with some of the provided use cases and I was able to get a better understanding of the situation.

By setting `tagProperties: "key=${VALUE}"` (note the double quotes), Jenkins will resolve the environment variables on each build and will update `DatadogJobProperty`. This is **not** how `DatadogJobProperty` is supposed to work, its configuration is su

[2020-05-08 02:51] provcristianmaluenda commented on #54
I will take a look at it next weekend. It will be really useful for us.
@gzussa
Sorry, I missed your comment. I was on vacation and then Covid.

[2020-05-09 00:13] sarah-witt commented on #55
Unmarking as stale- we are currently working on this.

[2020-05-19 09:56] jetersen commented on #55
Actually the secondary fix to avoid running the task when no api token is valid too.

[2020-05-19 11:40] jetersen commented on #55
My PR #63 should fix a noise logger and avoid logging severe logs when no API key is defined.

[2020-05-29 13:46] #55 closed

[2020-06-15 14:17] FlorianVeaux commented on #56
Closing the issue for inactivity

[2020-06-15 14:17] #56 closed

[2020-07-01 21:24] gregoryboue opened #86 "Plugin configuration with environment variable not updated"
**Describe the bug**

I have jenkins with datadog plugin.
My jenkins instance is dockerized on kubernetes cluster and deployed by chart helm.
I configure the following env var of my container :

DATADOG_JENKINS_PLUGIN_REPORT_WITH : DSD
DATADOG_JENKINS_PLUGIN_TARGET_HOST : ip of my kubernetes node, dynamically resolved
DATADOG_JENKINS_PLUGIN_TARGET_PORT : 8125

If i deploy a fresh jenkins without p

[2020-07-02 11:57] FlorianVeaux commented on #86
Hey @gregoryboue
That behavior is not expected, environment variables should take precedence over the local configuration. I'll try to reproduce but I assume that if you delete the `org.datadog.jenkins.plugins.datadog.DatadogGlobalConfiguration.xml` in the jenkins root dir before starting jenkins you should see the environment variables being used correctly again, correct?

Seems that it can be a

[2020-07-02 13:53] FlorianVeaux commented on #86
I was able to reproduce and it was indeed an issue with the local configuration taking precedence over environment variables. I have merged a PR to fix this, we'll release a new version of the jenkins plugin soon with that change 👍

[2020-07-02 13:53] #86 closed

[2020-07-02 13:56] gregoryboue commented on #86
@FlorianVeaux Great, thanks you !!

[2020-08-19 14:32] FlorianVeaux commented on #22
Hey there,
We've just released v2.0.0 of the Datadog plugin for Jenkins which provides better support for pipelines. It also adds a `datadog` step that can be used from within pipelines definition to set custom tags like so

- Declarative
[code]

- Scripted
[code]

[2020-08-19 14:32] #22 closed

[2020-08-28 00:20] patelronak opened #113 "Support buildName as DefaultTags for jenkins.job.completed"
**Is your feature request related to a problem? Please describe.**
We use multi-stage pipeline for all our builds and during pipeline run we would like to change the displayName to the commit id and we would want to get that info in datadog so that we can provide a quick dashboard on which commit-id is deployed to which environment in a tabular format in datadog.

**Describe the solution you'd lik

[2020-08-28 12:19] FlorianVeaux commented on #113
Hello,
Now that v2.0.0 of the plugin is out, there are some monitoring options that you can define in your Jenkinsfile like so:

[code]
This way, all metrics submitted for this job (including `jenkins.job.completed` but not `jenkins.job.started` that is submitted before the pipeline runs), will have your tags attached.

Would that be a valid way to support your use case?

[2020-09-02 18:52] patelronak commented on #113
@FlorianVeaux this seems even more valuable.  I will give this a try and report back with what I find.  Thanks for your quick response.

[2020-09-10 12:56] scoundril opened #126 "Allow tagging file to be used from repo"
I would like to be able to use something similar to a jenkinsfile from a repository to set tags sent to Datadog. This will allow a faster way to set global tagging for all reporting and quickly add/mod/delete tags across an enterprise scenario.

criticality/medium

[2020-09-10 14:19] FlorianVeaux commented on #126
Hey @scoundril
Does that work for your use case? https://github.com/jenkinsci/datadog-plugin#pipeline-customization
You can specify some tags directly from your Jenkinsfile since the newly released v2.0.0 of the plugin

[2020-09-10 14:46] FlorianVeaux commented on #126
Ok I see the use case now. Unfortunately this is not something the plugin is able to do on its own at the moment.

Your request naturally extends to every configuration option, if the tagging file is configurable from an external repository, every other option should as well. How are your Jenkins instances configured at the moment? The way I see it, you'll want some setup groovy scripts that can b

[2020-09-10 14:51] scoundril commented on #126
We have a complete configuration as code setup to provision teams on EKS.   For the groovy script variant, can that be set to run on a Jenkins job on startup perhaps?  That might work if so as it can be kept in a repo and then rerun on any tag change.

From: Florian Veaux <notifications@github.com>
Sent: Thursday, September 10, 2020 10:47 AM
To: jenkinsci/datadog-plugin <datadog-plugin@noreply.git

[2020-09-10 14:59] FlorianVeaux commented on #126
I think so but you'll have to turn off the sandbox mode I believe.

Actually I see two options:
1. Either you re-run a Jenkins job on any tag change, the job will download your file and configure the global tags using groovy syntax.
2. Or you simply configure all your Jenkins instances to point to the same tagging file, the path to the file never has to change. And you use some configuration manag

[2020-09-10 15:10] scoundril commented on #126
I assume the tagging file you refer to is “Global Tag File”?  Wouldn’t this require a restart to take effect, or does the DD plugin pickup any changes to that file without having to resave?

From: Florian Veaux <notifications@github.com>
Sent: Thursday, September 10, 2020 11:00 AM
To: jenkinsci/datadog-plugin <datadog-plugin@noreply.github.com>
Cc: Cobble, Jeffrey <Jeffrey.Cobble@fmr.com>; Mention

[2020-09-11 07:16] FlorianVeaux commented on #126
Yes

By resave, I assume you mean "restart Jenkins"? Not very familiar with how that part of the code works but if it doesn't pickup new changes today, we should look into fixing that. Could you try and see how that works for you?

[2020-09-11 13:44] scoundril commented on #126
I am trying to get the global tag file option working to use it “as code”.  I am not able to get the tags to pull into datadog.  What is the proper syntax to point to the file and proper syntax for the tags themselves?  The documentation is a bit sparse on syntax.

From: Florian Veaux <notifications@github.com>
Sent: Friday, September 11, 2020 3:17 AM
To: jenkinsci/datadog-plugin <datadog-plugin@n

[2020-09-21 14:17] scoundril commented on #126
@FlorianVeaux : We were able to script a way to use the groovy.init.d folder to read DD configs from the repo.  I am seeing an issue though where a team master takes the first config we load and seems to cache that config.  Is there anything you are aware of from the DD plugin that would cause this caching?

[2020-09-28 08:17] FlorianVeaux commented on #126
Hey, what does your setup looks like at the moment? Multiple masters each one using a groovy init script, right?

When using groovy no caching part should be involved though, as each function call directly modifies the dynamically loaded config. In fact this is the only configuration method that allows live modification of the configuration

[2020-09-28 11:02] scoundril commented on #126
We are using CASC with Cloudbees Jenkins Core.  I finally found some logs showing each of the groovy init scripts are being saved and loaded on restart for some reason. This is what is causing the caching.  I don’t think it is so much on the DD plugin side as it is on the Jenkins side somewhere.  Using groovy seems to be filling the original need of this request. The issue can be closed if you lik

[2020-09-28 11:05] #126 closed

[2020-10-08 23:22] jlosito opened #137 "Use dependabot to check for action updates"
**Note:**
If you have a feature request, you should [contact support](https://docs.datadoghq.com/help/) so the request can be properly tracked.

**Is your feature request related to a problem? Please describe.**
This project uses GitHub actions. Some of which are outdated. It would be nice if the dependencies which this project uses could be up-to-date.

**Describe the solution you'd like**
Depend

[2020-10-09 10:49] hithwen commented on #137
Hi @jlosito at this moment we don't want to follow this process for dependencies updates.

[2020-10-09 10:49] #137 closed

[2020-10-12 22:49] patelronak opened #142 "jenkins.job.stage.completed - metrics for stage result"
**Is your feature request related to a problem? Please describe.**
I am trying to get metrics around success|failure for different stages.  Currently, I can get stage duration but I cannot get metrics around jenkins.job.stage.completed { result = failure | success }

**Describe the solution you'd like**
jenkins.job.stage.completed { stage_name, stage_depth, stage_parent, result = failure | success

[2020-10-13 07:59] FlorianVeaux commented on #142
Hey @patelronak
I confirm that this is a valid FR, there is no way to get that kind of visibility with the plugin today.
Is that request tracked by the Datadog support already? This helps us prioritize work

Also we welcome pull requests in this repository so we'd be happy to see one adding that feature.

[2020-10-13 08:00] FlorianVeaux commented on #113
Any update to report for this issue? Otherwise I'll close it for inactivity in the next days or so

[2020-10-13 18:19] patelronak commented on #142
@FlorianVeaux yes this is tracked through help.datadoghq.com/hc/requests/405584

[2020-10-14 16:46] patelronak opened #146 "jenkins.job.stage_duration - result shows failure even when stage is not executed"
**Describe the bug**
I am not sure if this a bug or enhancement but when checking the jenkins.job.stage_duration { results } metric if one of the previous stage failed all the subsequent stages are marked as failed.  In reality none of those have been executed and in blue ocean ui it shows as not executed and in the log it shows as skipped but in datadog metrics it shows them as failed.  When tryi

[2020-10-14 16:48] patelronak commented on #146
@FlorianVeaux I have created a new bug under same datadog ticket
help.datadoghq.com/hc/requests/405584

[2020-10-15 07:38] FlorianVeaux commented on #146
Ack, thanks for all the details. Can you confirm what you see is the `result:ERROR` tag? It's set here in the code https://github.com/jenkinsci/datadog-plugin/blob/c366549c30205a60b9a48827350bb1e220b0dc94/src/main/java/org/datadog/jenkins/plugins/datadog/DatadogUtilities.java#L627-L631, there's likely a way to be a bit smarter with that result tag.

[2020-10-15 18:35] patelronak commented on #146
Yes @FlorianVeaux I see result:error in datadog.

[2020-10-16 07:48] FlorianVeaux commented on #21
Closing, supporting tag files in pipelines would be a bit weird/antipattern (there are multiple workspaces).

That being said, we now support the ability to add tags to pipelines directly from the Jenkinsfile.

[2020-10-16 07:48] #21 closed

[2020-10-16 08:00] #113 closed

[2020-10-16 08:34] FlorianVeaux commented on #142
v2.4.0 has just been released and should address this issue. Thanks for the report

[2020-10-16 08:34] #142 closed

[2020-10-16 08:34] FlorianVeaux commented on #146
v2.4.0 has just been released and should address this issue. Thanks for the report

[2020-10-16 08:34] #146 closed

[2020-10-30 16:57] CyberHippo opened #153 ""Hmmm, your API key may be invalid.""
### Describe the bug
Unable to send metrics when using API URL [https://api.datadoghq.eu/api/](https://api.datadoghq.eu/api/)
Receive `API key seems to be invalid`

### To Reproduce
Steps to reproduce the behavior:

1. Go to 'Manage Jenkins -> Configure System -> Datadog Plugin
2. Enter 'https://api.datadoghq.eu/api/' for API URL field
3. Enter your API key from https://datadoghq.eu/account/settin

[2020-11-02 08:01] CyberHippo commented on #153
Hi @FlorianVeaux ,

I confirm that it is working using your solution.
Thanks a lot!

[2020-11-02 08:01] #153 closed

[2020-11-06 15:50] hoshsadiq opened #155 "Additional plugin metrics"
**Is your feature request related to a problem? Please describe.**
We'd like to set up monitors on certain plugin related metrics.

**Describe the solution you'd like**
We're looking to add additional metrics around plugins. The main one we need is tracking plugins that updating, however, active/inactive and failed plugins is also useful metrics that we would like to track. These metrics are avail

[2020-11-09 12:47] #43 closed

[2020-12-07 08:49] #155 closed

[2020-12-09 15:51] ryancurrah opened #161 "Delivery KPI Metric Numbers Are Not Correct"
**Describe the bug**
I am trying to create a dashboard using the KPI metrics `jenkins.job.cycletime`, `jenkins.job.mtbf`, `jenkins.job.mttr`. The metric numbers reported are incorrect.

**To Reproduce**
1. Generate a sample pipeline.
2. Do something to make it fail wait 10 minutes.
3. Run it again without a failure.
4. Wait for the metrics to show up in Datadog. The mean time between failure is in

[2020-12-10 09:01] FlorianVeaux commented on #161
Hey @ryancurrah
Seems like this may be a unit issue. The plugin sends value in seconds but the Datadog app seem to consider that the received datapoints are in "microseconds", thus leading to a x1,000,000 scaling issue when graphing metrics.

Let me see what I can do, I'll circle back here.

[2020-12-10 11:23] ryancurrah commented on #161
Oh good call. I manually changed the units in datadog to seconds and now it is looking correct.

[2020-12-10 11:23] #161 closed

[2020-12-10 11:33] FlorianVeaux commented on #161
For the record: I'm updating the default units to seconds so that new users won't be affected by this anymore.

[2020-12-18 21:13] ryancurrah commented on #161
Thanks @FlorianVeaux !

[2021-01-06 20:56] regicsolutions opened #167 "Dashboard"
Is there a baseline Dashboard in JSON available we can import to get started with this plugin?

[2021-01-07 08:28] FlorianVeaux commented on #167
Hey @regicsolutions
Once the datadog-plugin is reporting jenkins metrics to your Datadog account, you'll see a preset dashboard in your Dashboard list. This works the same for any other Datadog integration we provide.
This dashboard is named "Jenkins - Overview".

In your dashboard list, you can filter by "All Integrations" to see all the preset dashboards available for your integrations.

If you

[2021-01-11 07:57] regicsolutions commented on #167
Thanks for the reply. Found it, all set!

On a side note - would you happen to know if there are any Typescript plugins out there for Datadog? Looking to get datadog integrated with Backstage.
https://github.com/backstage/backstage/issues/849

[2021-01-11 08:22] FlorianVeaux commented on #167
Is that what you mean? https://docs.datadoghq.com/tracing/setup_overview/setup/nodejs/?tab=containers
But please reach out to our support team for more questions :)

Glad you found the dashboard!

[2021-01-11 08:22] #167 closed

[2021-01-16 14:59] jamur2 opened #170 "Queue stops progressing after restart when jobs running"
**Describe the bug**
Starting in what appears to be datadog 2.6.0, we've found that controllers that are not cleanly restarted when jobs are in progress (first discovered when a controller OOM'd, but we can reproduce by just killing the process) come back with items that are "in" the queue but cannot be deleted.  In addition, node creation (using the ec2 plugin) and saving configuration at the man

[2021-01-21 16:56] mgarabed commented on #170
Hi @jamur2 - thanks for the detailed issue report, that will be quite helpful for us to replicate the issue!

[2021-02-03 15:16] #170 closed

[2021-02-03 16:08] mgarabed commented on #170
@jamur2 Version `2.8.1` of the plugin should be posted shortly, which includes the referenced PR above.

[2021-02-03 16:10] jamur2 commented on #170
Perfect, thanks!

[2021-02-12 22:02] djtecha opened #182 "Datadog Log Shipper failing"
Hello all, running the latest JENKINS and Datadog and the logging used to work shipping to a datadog agent running on the cluster. Now I just get this:
[code]
datadog helm chart version: 2.8.3
jenkins helm chart version: 3.1.8

datadog plugin 2.8.1

[2021-02-15 08:57] FlorianVeaux commented on #182
Hey @djtecha, thanks for raising the issue it seems a bit concerning indeed.
Can you share more details about your previous setup when logging was working? In particular which combination of the versions of jenkins and the datadog plugin was previously working?

Based on that traceback, it looks like the error seems to come from a (jenkins) master to agent call. Our class `TaskListenerDecorator` g

[2021-02-15 17:13] djtecha commented on #182
Sure I was running the
datadog agent helm chart 2.6.15
datadog jenkins plugin 2.4.0
jenkins helm chart 3.0.14

I had to upgrade the datadog chart to allow for multiple host ports so I could sent both metrics and logs to the DSD controller. I have also confirmed from the jenkins pod that it can hit the datadog integration listening on the agent pod.

[2021-02-17 10:07] FlorianVeaux commented on #182
Thanks for the details, unfortunately I can't reproduce. Do you have simple reproduction steps?
Additionally what I'm mostly looking for is the exact version (either of the datadog-plugin or of jenkins) that introduced this regression. I'm not sure today if that comes up because of a change we made, or a jenkins change we didn't account for.

That being said, based on the traceback you shared and

[2021-03-16 16:03] coignetp commented on #182
Hi @djtecha , thanks for raising this issue.
#188 proposes a fix, could you try it and see if it works on your side? I'm linking the `datadog.hpi` file in a zip (`.hpi` are not supported by github).
[datadog.hpi.zip](https://github.com/jenkinsci/datadog-plugin/files/6150466/datadog.hpi.zip)

[2021-03-16 22:57] djtecha commented on #182
Hey, its working again :)

[2021-03-17 08:45] #182 closed

[2021-03-24 12:07] jtnord opened #193 "unhelpful logspam in DatadogUtilities.severe"
**Describe the bug**

The plugin produces completely unhelpful logspam in some situations.

when passed an exception with a null message [DatadogUtilities.severe(...)](https://github.com/jenkinsci/datadog-plugin/blob/0731ad942048996b805f8c05d839266632bbb8ed/src/main/java/org/datadog/jenkins/plugins/datadog/DatadogUtilities.java#L703-L715) will put the following in the logs which has no useful info

[2021-03-24 12:16] FlorianVeaux commented on #193
Hey @jtnord
I believe [this PR](https://github.com/jenkinsci/datadog-plugin/pull/187) will interest you, there is some ongoing work to improve these (very unhelpful indeed) log messages.

[2021-04-13 16:18] #49 closed

[2021-04-14 08:36] #54 closed

[2021-04-26 09:28] FlorianVeaux commented on #193
The previously mentioned PR was merged. I believe this issue can be closed. Thanks for the report!

[2021-04-26 09:28] #193 closed

[2021-05-04 16:17] lehlen opened #208 "Jenkins log is flooded by "o.d.j.p.datadog.DatadogUtilities#severe: Failed to process build deletion""
**Describe the bug**
My jenkins.log file is flooded by severe level log from Datadog plugin
`o.d.j.p.datadog.DatadogUtilities#severe: Failed to process build deletion`
Error it's in a catch block inside class o.d.j.p.d.l.DatadogBuildListener#onDeleted
I enabled Jenkins loggers to get class specific logs beside the DatadogUtilities log and nothing is printed between
`Start DatadogBuildListener#onDe

[2021-05-27 14:36] pangorgo opened #209 "collectLogs: false doesn't exclude pipeline logs collection"
**Describe the bug**
Not sure if this is the bug or I misunderstood plugin configuration. What I want to achieve is to collect logs from all but one Jenkins pipeline.

To do so I've added to all pipelines following:
[code]

This single pipeline that I would like to exclude from logs collection has `collectLogs` set to false:
[code]

Global "Enable Log Collection" is set to `true`. When I set it to

[2021-06-04 08:52] FlorianVeaux commented on #209
Hello,
The expected configuration is indeed to have `Global Log Collection` disabled, and then enable log collection per pipeline.
Do you see any relevant logs either in your Job or in the Jenkins System Log ?

[2021-06-07 16:39] pangorgo commented on #209
After setting `Global Log Collection` to disabled, logs from jobs with `collectLogs: true` lands in Datadog 🤔
I am confused because I've tried it before and it was not working.

The difference is that the number of logs is a bit smaller. It seems like some pipeline "meta logs" are not collected. For example:
- who run the job
- checkout logs

Is that expected? Is `Global Log Collection` and `colle

[2021-06-08 08:40] FlorianVeaux commented on #209
Unfortunately yes, we use different parts of the plugin API for log collection. A `ConsoleLogFilter` when `Global Log Collection` is enabled (but we can't control per-pipeline with a ConsoleLogFilter), and a `TaskListenerDecorator` when `collectLogs: true` is set (but the "meta logs" as you say are not exposed to it).
I agree that's a technical limitation.

If you need all "meta logs", what you ca

[2021-06-08 21:18] pangorgo commented on #209
I've done more testing and logs collection after toggling `Global Log Collection` seems to be non deterministic. When I turn it off, sometimes logs are stopped being collected right away. Other time when I turn it off, for some time aforementioned "meta logs" stop being collected and then all logs are stopped being collected.

[2021-06-09 10:20] FlorianVeaux commented on #209
Indeed, what we do in the plugin is that log collection for a build is determined when the build starts. So any build started before any modification of the `Global Log Collection` option will not take the modification into account.

Does that create any issue for you? How important would you consider that? This is something we can possibly work on

 For `meta logs` I'm not really sure, that shoul

[2021-06-09 11:02] pangorgo commented on #209
That would be a desired behaviour and I expect it to work like that. The problem is that sometimes also jobs started after switching are not affected by setting the option, or are affected after some time (somewhere between minutes and one hour).

I wonder how can I help you to reproduce that, because also I don't see anything interesting in Jenkins logs. Do you have any suggestions where can I do

[2021-06-09 12:32] FlorianVeaux commented on #209
To be fair we don't really control that part. We just hook when Jenkins tells us and we use the current plugin configuration to decide whether or not to forward all the logs to Datadog: https://github.com/jenkinsci/datadog-plugin/blob/master/src/main/java/org/datadog/jenkins/plugins/datadog/logs/DatadogConsoleLogFilter.java#L55
There is no additional caching on our side so I'm not too sure we can

[2021-06-09 13:18] pangorgo commented on #209
@FlorianVeaux I will do some more testing to find any patters and will come back to you if I find anything helpful.

[2021-06-11 09:34] pangorgo commented on #209
I've only managed to find such log records. They are not followed by any stacktrace:

[code]

[2021-06-28 12:03] FlorianVeaux commented on #209
Hey, coming back to this. The errors you've copied here seems intriguing but outside of the scope of the initial issue I believe.
Looks like you're using a Datadog agent to forward logs to Datadog, but the plugin is unable to connect to `localhost:8125` for sending logs.

[2021-07-01 21:41] buerkle opened #227 "StepDataAction objects consume large amounts of memory"
**Describe the bug**
We are using the Bitbucket Branch Source plugin with Jenkins in order to create new jobs for each branch and PR for our git repositories. While trying to figure out what was consuming so much memory on our Jenkins box I noticed we have many WorkflowRun objects containing large StepDataAction objects.

I took a look at a few of the WorkflowRun objects and they correspond to bui

[2021-07-05 10:20] hithwen commented on #208
This PR should address the issue https://github.com/jenkinsci/datadog-plugin/pull/219

[2021-07-05 10:20] #208 closed

[2021-07-05 11:04] drodriguezhdez commented on #227
Thanks for reporting. I'll take a look at this ASAP.

[2021-07-07 10:52] drodriguezhdez commented on #227
This should be fixed in the `3.0.1` version.

[2021-07-12 01:28] buerkle commented on #227
We installed 3.0.1 and it's working better. Thank you! We will have to wait a bit as old builds are removed since StepData is stored in the build.xml, but I checked a new build and no StepData objects in the new build's build.xml.

[2021-07-14 08:22] pangorgo commented on #209
Hi @FlorianVeaux just a quick update. I've updated both Jenkins and Datadog plugin and problem still exists. Any hints how can I debug it?

[2021-07-15 06:36] lechuk47 opened #231 "Remote Agent configuration do not send metrics"
**Describe the bug**
Configuring the agent with a remote agent breaks the metrics sending. The check connectivity neither seems to work,
I'm running Jenkins and the datadog agent on ECS with two separate services using EC2:
 - Jenkins Service: Replica service with 1 instance
 - Datadog-agent: Daemon service ( runs the container in every EC2 node)

I've tested the underlying communications and they

[2021-07-15 08:49] drodriguezhdez commented on #231
Thanks @lechuk47 for reporting.

A quick question to fully understand the issue: is this only related to the "Check connectivity" in the configuration or do the plugin is actually not sending metrics?

[2021-07-15 13:41] michaelpporter commented on #231
I have a the same issue. I'm running Jenkins in an EKS cluster (Kubernetes) with the Datadog Helm Chart. I have a Cluster agent at `datadog-cluster-agent.NAMESPACE.svc.cluster.local:5005`  and agents running as a DaemonSet `datadog.NAMESPACE.svc.cluster.local:8125` . When I run the test in Jenkins it fails to port 8125. It will connect to 5005, bit does not send information.

[2021-07-16 08:56] drodriguezhdez commented on #231
@michaelpporter thanks

Yeah, it seems that the issue here is that we're using TCP protocol to check the `DogStatsD` port, which by default is UDP. We're currently working on a fix to accommodate this case 👌🏼

[2021-07-19 09:14] FlorianVeaux commented on #209
Hi,
You should try to find some patterns. Pipeline jobs and/or Freestyle jobs? running where? how long does it take between changing the option and the change being reflected in-app? etc. Unless we can pinpoint an actual reproducible error it'll be hard to understand exactly what issue you are facing and if it's remediable from the plugin side.

[2021-07-19 15:38] drodriguezhdez commented on #231
A new patch version has been released to fix this issue: 3.0.2

[2021-07-19 16:15] michaelpporter commented on #231
This seems to be working on my setup.

[2021-08-03 11:06] drodriguezhdez commented on #227
@buerkle could we consider this issue fixed?

[2021-08-03 15:52] #227 closed

[2021-08-03 15:52] buerkle commented on #227
It's fixed, thank you!

[2021-08-18 09:13] hithwen commented on #209
Hi @pangorgo is there any progress on your side with this?

[2021-09-16 10:18] jesperes opened #251 "Some pipeline steps cannot run in parallel when datadog plugin is installed"
Some pipeline steps, e.g. `rtp` cannot run in parallel when the datadog plugin is installed. This triggers a long stacktrace (see below)"

[code]

**To Reproduce**

Run the following pipeline in a Jenkins instance with the datadog plugin installed:

[code]

**Expected behavior**

The `rtp` pipeline step should be executed 100 times with the text `${i}`.

**Environment and Versions:**

* Jenkins 2.

[2021-09-16 10:20] jesperes commented on #251
Also: I tried adding the job to the `Excluded Jobs` section, but that did not have any effect.

[2021-09-17 08:03] drodriguezhdez commented on #251
Hi @jesperes,

This bug should be fixed in this PR #243, available in the 3.1.2+ versions 👌🏼

[2021-09-20 15:25] #231 closed

[2021-09-24 14:25] jesperes commented on #251
Thanks for the quick reply.

[2021-09-24 14:25] #251 closed

[2021-12-15 23:35] SeriousMatt opened #266 "Datadog-Plugin breaks on LTS v2.319.1 w/ built-in node update"
Datadog-Plugin breaks on LTS v2.319.1 with the renaming of the built-in node

**To Reproduce**
Steps to reproduce the behavior:
1. Update to Jenkins to 2.319.1 and rename controller to built-in
2. Datadog plugin breaks, stops reporting metrics

**Expected behavior**
Send metrics to datadog

**Screenshots**
n/a

**Environment and Versions (please complete the following information):**
-Datadog-Plug

[2021-12-16 18:09] sarah-witt commented on #266
Hi @SeriousMatt, thanks for reporting. I tried reproducing by installing the latest version of jenkins and renaming the node, but I could still see metrics and logs from the plugin. What features of the plugin are you using, and did you see any relevant log lines when renaming the node?

[2021-12-17 16:40] SeriousMatt commented on #266
Thanks Sarah, we are using an API URL for our initial setup of the plugin until we can use the agent. We also have log collection disabled because it slows down our instance overall. Unfortunately we did not see anything helpful in the logs.

Just double checked that the connection to Datadog is working and saw "Great! Your API key is valid."

[2021-12-17 18:00] sarah-witt commented on #266
Thank you for the details, do you mind submitting a support case so that we can investigate further?

[2021-12-28 16:01] mahmedk91 commented on #266
We also faced the same issue. We were also using the Datadog API for sending metrics. We kept the Jenkins LTS 2.319.1, but rolled back the Datadog plugin to 3.2.0 and metrics again started flowing ✌️

[2021-12-29 15:50] sarah-witt commented on #266
Thanks for the additional report @mahmedk91. We added support for supplying API keys as credentials in 3.4.0. When updating to that version, did you make sure there was no information entered in the `Datadog API Key (Select from Credentials)` field?

[2021-12-29 22:38] mahmedk91 commented on #266
Hey @sarah-witt
Cant check this as I rolled back already, but I am pretty sure it was not selected. Also tested the API key as @SeriousMatt said and got "Great! Your API key is valid." message. So, I was in the impression that config is setup correctly.

[2022-01-03 16:22] sarah-witt commented on #266
Hi @mahmedk91 Thanks a lot for the additional information. I was able to reproduce by installing an older version of the plugin, then installing `3.4.0`. We will work on a fix and have a new release soon. A workaround with `3.4.0` installed is to re-select the `None` field of the credentials API key field, or re-enter the current API key.

@SeriousMatt I believe this will fix your issue as well

[2022-01-03 16:35] SeriousMatt commented on #266
Reselecting the none field field worked as a temporary solution for me. Thank you!

[2022-01-05 16:32] sarah-witt commented on #266
@SeriousMatt @mahmedk91 We released a new version `3.4.1` with the fix: https://updates.jenkins.io/download/plugins/datadog/ Let me know if everything looks good!

[2022-01-05 22:15] #266 closed

[2022-01-12 20:52] vvalderrv opened #272 "Jenkins Datadog plugin - Log Collection Port Error"
The Datadog Agent configuration of the Jenkins Datadog Plugin shows the Log Collection Port (Optional). If no port is configured for Log Collection and you click Test connection, you get an error "The port cannot be empty."

Steps to reproduce the behavior:
1. Go to Manage Jenkins
2. Click on Configure System
3. Scroll down to Datadog Plugin
4. Click on  Use the Datadog Agent to report to Datadog

[2022-01-25 17:51] yzhan289 commented on #272
Hi 👋 , thanks for raising this. To help with fixing this bug, do you have log collection enabled?

[2022-01-26 14:18] yzhan289 commented on #272
Hi, I talked with the team to learn more about the functionality of `Test connection`. They reported that the `Test connection` button is related to only the `Log Collection Port`. The `DogStatsD port` cannot be tested because it's a UDP port.

[2022-01-27 22:49] yzhan289 commented on #272
PR making the buttons for `Test connection` more clear was just merged. I'll close this ticket since the intended behavior was occurring correctly, although the button may have been misleading.

[2022-01-27 22:49] #272 closed

[2022-03-15 17:43] mBouamama opened #279 "Plugin don't send metrics(datadog agent)"
**Describe the bug**
Plugin don't send metrics to datadog when i try with datadog agent.Im not sure its a bug i guess i don't find the right way to configure my plugin.
Regards

**To Reproduce**
Steps to reproduce the behavior:
1. install datadog helm chart
2. install jenkins helm chart
3. install datadog plugin
4. set this config
![image](https://user-images.githubusercontent.com/57527739/1584379

[2022-03-26 10:39] bradq opened #280 "Datadog endpoint for logs should be unbound from metrics/trace host."
**Note:**
If you have a feature request, you should [contact support](https://docs.datadoghq.com/help/) so the request can be properly tracked.

**Is your feature request related to a problem? Please describe.**

I've started playing with CI integration in Datadog. Because Datadog accepts neither stats nor process data in their raw form, it's understandable to queue them through an agent. In this

[2022-03-26 14:44] bradq commented on #279
Hi @mBouamama, not a bug. TCP/5005 is exposed for other purposes. See the [values](https://github.com/DataDog/helm-charts/blob/main/charts/datadog/values.yaml), which are configurable but default to the same standard ports used within k8s and the traditional agent.

If you want to use TCP to communicate, you'll need `datadog.dogstatsd.useHostPort` and `datadog.apm.portEnabled` set to `true` to exp

[2022-03-28 17:59] usmonster opened #283 "Cannot use CI Visibility with DogStatsD over Unix Domain Socket"
I'm using the Datadog plugin on Jenkins with the Datadog Agent and [a Unix socket configuration](https://docs.datadoghq.com/developers/dogstatsd/unix_socket?tab=kubernetes#setup).
This is working fine for metrics reporting, but not for CI Visibility/traces. Looking at Jenkins logs during a pipeline run, I see the plugin is trying to use HTTP instead of the configured DSD, and so it fails (screensh

[2022-04-05 14:41] tamir-allc opened #284 "Failed to serialize org.datadog.jenkins.plugins.datadog.model.PipelineQueueInfoAction occasionally thrown during pipeline execution"
**Describe the bug**
Occasionally an error about 'failed to serialization' is thrown by the Datadog plugin during the jenkins job.
Ever since we installed the DD plugin, it errors out once in a while.
Removing the plugin obviously fixes it but we do want to use the DD<->Jenkins integration to fully utilize our monitoring capabilities.

**Expected behavior**
This error will not be thrown.

**Enviro

[2022-04-05 15:04] usmonster opened #285 "Datadog plugin incompatible with Jenkins 2.338 and up"
**Describe the bug**

Since [version 2.338 of Jenkins](https://www.jenkins.io/changelog/#v2.338), the Datadog plugin generates errors that prevent Jenkins from starting normally. This appears to be due to Jenkins's [recent removal of the Java Native Runtime (JNR) library from its core](https://github.com/jenkinsci/jenkins/pull/6323). Since the plugin seems to rely on this library, either directly

[2022-04-06 07:19] drodriguezhdez commented on #284
Thanks @tamir-allc for reporting this. A similar issue appeared in the past. A fix is on its way https://github.com/jenkinsci/datadog-plugin/pull/286

[2022-04-06 07:23] drodriguezhdez commented on #283
Thanks @usmonster for reporting the issue. After investigating a bit, I can confirm that Unix Domain Sockets are not supported for sending CI Visibility traces. I updated our docs to document this limitation and we will work on adding support on this in a near future.

[2022-04-06 07:38] tamir-allc commented on #284
@drodriguezhdez Great. Appreciate the quick response. Looking forward for the new release containing this fix.

[2022-04-06 19:43] sarah-witt commented on #285
@usmonster Thank you for the report and sorry about the trouble, we will look into it and work on a fix!

[2022-04-08 16:44] sarah-witt commented on #285
Hi @usmonster, I've created a [PR](https://github.com/jenkinsci/datadog-plugin/pull/287) for a fix to include the `jnr-posix-api` plugin as a dependency. As a workaround until it's released, you should be able to send metrics through any method that is not UDS, which is the part of the java dogstatsd client that relies on JNR.

[2022-04-08 21:41] shris-github commented on #280
Thank you for your note. We will look deeper into our current process for metrics and logs ingestion, but not something we can change in the short term. I would also like to take the opportunity to clarify a few points here

In the context of Jenkins plugin, there is no easy alternative to collect logs. TCP is the next best alternative to when the Agent cannot tail logs from a file. So while TCP i

[2022-04-11 11:52] hithwen commented on #279
Hallo @mBouamama, if you are still experiencing this issue, please [contact support](https://www.datadoghq.com/support/).

[2022-04-11 11:52] #279 closed

[2022-04-18 08:59] bradq commented on #280
I find this confusing, which is probably my own lack of familiarity. However, forwarding logs over HTTPS to Datadog, directly, which is the default setting, suits my purposes and works consistently. I don't note much complexity in either the [writer](https://github.com/jenkinsci/datadog-plugin/blob/master/src/main/java/org/datadog/jenkins/plugins/datadog/logs/DatadogWriter.java) or the [client it

[2022-04-20 08:12] jhaumont commented on #285
Hello @sarah-witt
Any ETA for the release of the fix ? (I see the PR was merged 👍 )
Thanks !

[2022-04-20 14:07] sarah-witt commented on #285
Hi @jhaumont, sorry for the delay. We are working on testing a few more things before release, but it should be out soon.

[2022-04-26 07:24] drodriguezhdez commented on #284
@tamir-allc the new 3.5.2 version should have fixed this issue. Thanks!

[2022-04-27 15:38] #285 closed

[2022-04-28 07:11] #284 closed

[2022-05-30 14:35] usmonster commented on #283
Hello! I can confirm that the issue is reproducible even after upgrading the plugin to the latest version 4.0.0. (Details remain the same.)

[2022-06-08 06:18] bradq commented on #280
Yes, nothing has not changed to improve the agent configuration. I can continue to replicate ongoing issues with the TCP connector. Documentation has not been improved. I continue to contemplate life as a lumberjack.

[2022-06-09 19:11] shris-github commented on #280
Hi, I would like to apologize for my tardiness. I have spoken to my team, and we will add a feature request to decouple metrics and logs ingest. We are also currently working on the documentation and should have it ready within a couple of weeks at max.

Regarding the log level - can you share a sample log message. We would like to understand if the message here pertains to failure to send a log l

[2022-07-01 10:28] usmonster commented on #283
Hello again! Can the stale label please be removed? Thanks!

[2022-07-08 16:43] ricardojdsilva87 opened #295 "Java errors after enabling log collection in Jenkins"
Hello we are having the following errors on Jenkins after enabling the log collection in Datadog plugin:
[code]

Tried to do a telnet on localhost 8126 and it works.

**To Reproduce**
Steps to reproduce the behavior:

1. Configure the plugin using configuration as code (casc)
2. Configure the settings in a pipeline job to enable extra settings
3. Datadog agent is locally running as a container in

[2022-07-12 12:36] jose-manuel-almaza commented on #295
The error code we get is: `The error code indicating a failure when flushing an output stream`
Investigating possible causes.

[2022-07-12 14:03] jose-manuel-almaza commented on #295
You said: _"Tried to do a telnet on localhost 8126 and it works"_
Can you tell me what IP are you trying to connect to via telnet?
`localhost` is `127.0.0.1` and as I can see in the log message that you indicate the IP configured in the plugin is `10.241.65.43`

[2022-07-12 14:11] ricardojdsilva87 commented on #295
Hello @jose-manuel-almaza ,
Result is the same:
![image](https://user-images.githubusercontent.com/12953702/178510038-1d6ea295-049f-4685-9394-3c415d1c75ac.png)
The test was to demonstrate that the datadog agent (running in Kubernetes deployed with an helm chart) is listening on that port.
As I understand the Jenkins plugin connects somehow to the local datadog agent so that the information (logs/m

[2022-07-12 15:47] jose-manuel-almaza commented on #295
I see in your config `targetLogCollectionPort` and `targetTraceCollectionPort` have the same value.
Can you assign different values (not assigned ports, of course) and show me logs?

[2022-07-15 09:31] ricardojdsilva87 commented on #295
Hello @jose-manuel-almaza ,
I've tried to change on the helm chart the port to 8127 to check if I could use different port for trace and another for log collection, but it seems that the trace and log collection ports are the same. After changing the trace port, the log port failed to connect successfully and only changing to 8127 it started working again.
If I enable the log collection option on

[2022-07-18 08:26] ricardojdsilva87 commented on #295
Hello @sarah-witt ,
I've reenabled the previous settings and disabled the retryLogs option. The log recorder shows me the following:
[code]
Thanks

[2022-07-18 15:22] sarah-witt commented on #295
@ricardojdsilva87 Thanks for the information. Is this log line from when `retryLogs` is disabled or enabled? Did changing the setting make any difference?

[2022-07-18 15:59] ricardojdsilva87 commented on #295
Hello @sarah-witt , the `retryLogs ` option is disabled but it seems to me that the log recorder on Jenkins gives thatJava stack trace information, the logs I sent on the first thread were directly from he container logs.
Answering your question the behaviour is the same, is there any other option that I can try out?
Thanks

[2022-07-21 07:37] ricardojdsilva87 commented on #295
Hello @sarah-witt , sorry for the late reply.
We are using the datadog agent installed as an helm chart, the only option to enable the logs is [this one](https://github.com/DataDog/helm-charts/tree/main/charts/datadog#enabling-log-collection) and we have it active like that.
Also I've looked in the datadog documentation if any port was mentioned, couldn't find anything but I think that it's the sa

[2022-07-25 16:53] ricardojdsilva87 commented on #295
Thanks for the reply @sarah-witt ,
I'm not seeing what might be wrong. By default the datadog agent installed using the helm chart only catches the container logs that you can see using kubernetes. In our case the jobs are run in separate pods and they are not outputing the job result to the console so the datadog agent cannot export it. We'll need to configure in the agent the different locations

[2022-07-26 10:39] ricardojdsilva87 commented on #209
Hello @pangorgo sorry for contacting on a closed ticket. Have you found any solution for the SEVERE error logs?
I've tried everything but it seems that I only get the same SEVERE messages but no logs shipped to datadog.
https://github.com/jenkinsci/datadog-plugin/issues/295

I've also added a custom logger on datadog helm chart like described [here](https://docs.datadoghq.com/continuous_integratio

[2022-08-31 14:30] efenglu opened #305 "Support different hosts for DogStatsD and Traces Collection Port"
**Note:**
If you have a feature request, you should [contact support](https://docs.datadoghq.com/help/) so the request can be properly tracked.

**Is your feature request related to a problem? Please describe.**
I deploy the Datadog Agent to a separate cluster.  Our cluster configurations (not managed by us) only allow for a single port to be forwarded per host.

Currently Agent host is used as th

[2022-09-09 19:37] yzhan289 commented on #280
Hi @bradq, just bumping this in case you missed @shris-github's message!

[2022-09-12 18:17] sarah-witt commented on #305
Hi @efenglu, can you elaborate on the workaround you've tried:

You should be able to configure the plugin through a [groovy script](https://github.com/jenkinsci/datadog-plugin#groovy-script) if you cannot set environment variables.

But in general we do not support sending data from the plugin to multiple agents yet. If you haven't already, can you contact [support](https://docs.datadoghq.com/hel

[2022-09-15 13:01] Brialius opened #308 "CasC: default values are not respected"
**Describe the bug**
If CasC is used to configure Datadog plugin, settings which are not explicitly set in CasC will not be changed, so settings from existing config (from global configuration page) will persist after applying CasC.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup CasC config w/o some optional settings for Datadog plugin (w/o `enableCiVisibility` for example)
[code]
2.

[2022-09-16 14:13] sarah-witt commented on #308
Hi @Brialius thank you for raising this! We haven't officially supported CasC for our plugin yet but it's something we are going to work on in the near future.

[2022-09-16 14:38] #305 closed

[2022-10-20 16:50] andyshinn opened #312 "Metrics and/or service checks for available upgrades or plugins with warnings / security issues"
**Note:**
If you have a feature request, you should [contact support](https://docs.datadoghq.com/help/) so the request can be properly tracked.

**Is your feature request related to a problem? Please describe.**
I would like to be able to get an alert when Jenkins upgrades are available or plugins with warnings are published.

**Describe the solution you'd like**
A service check for when an upgrad

[2022-10-26 17:02] sarah-witt commented on #312
Hi, thanks for the great suggestion! We already have a metric `jenkins.plugin.withUpdate` that measures the number of plugins with updates. The other metrics would be a feature request. Have you contacted [support](https://docs.datadoghq.com/help/) to file a feature request?

[2022-10-26 17:10] andyshinn commented on #312
I submitted https://help.datadoghq.com/hc/en-us/requests/984637 for it.

[2022-10-26 19:33] sarah-witt commented on #312
Great, thanks! Your feature request will be tracked!